body{
    background-image:url("1.png");
}

.teste{
    background-color: #425859;
}

img.produto{
    @media (min-width: 576px) {
        height: 200px;
        width: 200px;
        }
    
    
    
}

.card{
    @media (min-width: 576px) {
    margin-top: 1px;
    margin-right: 1px;
    }
    
}