body{
    background-image:url("1.png");
}

.teste{
    background-color: #425859;
}

.card{
    height: 450px;
    width: 250px;
    
    }

.linha{
    display: inline-block;
}

.corpo{
margin-left: 100px;
}

